{% extends 'admin/dashboard.html.twig' %}

{% block body %}
 <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Listing The Category</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
              <div class="m-3">
              <a href="{{path('create_category')}}" class="btn btn-outline-success">Create new category</a>
              </div>
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Title</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in list_category %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                         
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{item.id}}</h6>
          
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{item.title | slice(0,45) ~ '...'}}</p>
                        
                      </td>
                      
                      <td class="align-middle">
                      <a href="{{path('one_category',{'id':item.id})}}" class="btn btn-success font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Details
                        </a>
                        <a href="{{path('update_category',{'id':item.id})}}" class="btn btn-secondary font-weight-bold text-xs mr-3 ml-3" data-toggle="tooltip" data-original-title="Edit user">
                          Edit
                        </a>
                        <a href="{{path('delete_category',{'id':item.id})}}" class="btn btn-danger font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Delete
                        </a>
                      </td>
                    </tr>
                   {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}