{% extends 'admin/dashboard.html.twig' %}

{% block title %}Update blog!{% endblock %}

{% block body %}

 <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Update Blog</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2 m-3">
            
                <div class="row">
                {{form_start(form)}}
                    
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating text-danger text-lg">Title of blog</label>
                                    {{form_widget(form.title)}}
                                </div>
                            </div>
                            

                        </div>
                        <div class="row">
                            <div class="col-md-8">
                               <div class="mb-3">
                                 <label for="" class="form-label text-danger text-lg">Choose image</label>
                                 {{form_widget(form.image)}}
                                <span>Image has upload</span>
                                <img src="{{data.image}}" class="img-responsive" alt="" srcset="">
                                
                               </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating text-danger text-lg">Category blog:  </label>
                                      {{form_widget(form.categoryId)}}
                                   
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating text-danger text-lg">Content</label>
                                   {{form_widget(form.content)}}
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating text-danger text-lg">Summary</label>
                                    {{form_widget(form.summary)}}
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="row">
                        <div class="d-flex justify-content-center">
                        <button type="submit" name="update_blog" class="btn btn-primary pull-right ">Confirm to update post</button>
                        <button type="reset" class="btn btn-danger pull-right ">Reset Form</button>
                        </div>
                        </div>
                        <div class="clearfix "></div>
                    
                    {{form_end(form)}}
                </div>
                
            </div>
          </div>
        </div>
</div>
{% endblock %}

